body {
  transition: background-color 0.4s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
p {
  text-align: center;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #3b3a3a;
  border-radius: 17px;
  transition: background-color 0.4s ease;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition: transform 0.4s ease;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + .toggle::before {
  transform: translateX(26px);
}

input[type="checkbox"]:checked + .toggle {
  background-color: #2196f3;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode .toggle {
  background-color: #666;
}

.dark-mode .toggle::before {
  background-color: #ccc;
}
